:root {
    // COLOR VARIABLES
    --primary-background-color: #05121B;
    --light-gray: rgb(20, 33, 42);
    --lightest-gray: #1B2831;
    --box-shadow: 0 7px 7px rgb(185, 174, 110, 0.7);
    --primary-font-color: white;
    --font-color-dark: #BFC4C5;
    --light-gray-1: rgb(150, 139, 139);

    //FONT VARIABLES
    --primary-font: 'Nunito', sans-serif;

    // RESPONSIVE BREAKPOINTS
    // $bp-largest: 75em;   // 1200px
    // $bp-large: 62.5em;   // 1000px
    // $bp-medium: 50em;    // 800px;
    // $bp-small: 37.5em;    // 600px;
}


//RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    // @media only screen and (max-width: $bp-largest) {
    //     font-size: 50%;
    // }
}

body {
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    font-weight: 400;
    line-height: 1.6;
}

.container {
    display: flex;

    font-size: 4rem;
    color: white;
    height: 200rem;
    background-color: var(--primary-background-color);
}

.right-content {
    width: 100%;
    display: grid;
    grid-template-rows: 8rem 1fr;
    padding: 1.5rem;
    padding-top: 0;
    gap: 1.5rem;
}

button {
    cursor: pointer;
}