.mg-bt-2 {
    margin-bottom: 2rem;
}

.text-left {
    text-align: left;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-size-11 {
    font-size: 11rem !important;
}

.collapsed {
    width: 0!important;
    opacity: 0;
    overflow: hidden;
}