.digital-clock-wrapper {
    grid-column: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: digital;
    font-size: 16rem;
    text-shadow: var(--neon-shadow);

    & > *:not(:last-child) {
        margin-right: 2rem;
    }
}