.sidebar {
    background: linear-gradient(to bottom, #5F6189, #D17D70);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    width: 30rem;
    height: 100vh;
}