.sidebar {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 8rem 1fr;
    width: 32rem;
    transition: width .3s ease-in;

    &__left-vertical-bar {
        background-color: var(--light-gray);
        grid-row: 2 / -1;
        grid-column: 1 / 2;
    }

    &__collapse-button {
        display: inline-block;
        background-color: var(--neon-color);
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2.5rem;
        width: 3rem;
        height: 3rem;
        transform: translateX(1.5rem) rotateZ(45deg);
        margin-top: 1rem;
        box-shadow: 0 0 3rem black;
        cursor: pointer;
    }
}

.brand-name {
    background-color: #3B82EA;
    text-transform: uppercase;
    color: var(--primary-font-color);
    grid-column: 1 / -1;
    text-align: center;
    grid-row-start: 1;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-frame {
    background-color: var(--lightest-gray);
    font-size: 1.6rem;
    position: relative;
    display: flex;
    position: sticky;
    height: 100vh;
    top: 0;
    left: 0;

    &--collapsed {
        overflow: hidden;
    }
}