.sidebar {

    &__nav {
        list-style: none;
        color: var(--font-color-dark);
        grid-column: 1 / -1;
        grid-row: 2 / -1;

        &__item {
            position: relative;
            z-index: 2;
            margin-top: 2rem;
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 3px;
                background-color: rgba(255, 0, 0, 0.692);
                transform: scaleY(0);
                transition: transform .2s,
                            width .2s cubic-bezier(.9,.02,1,.21) .1s;
                z-index: -1;
            } 

            &:hover::before {
                transform: scaleY(1);
                width: 100%;
            }

            &:active {
                
                &::before {
                    background-color: darken(rgba(255, 0, 0, 0.692), 30%);
                }
            }

            &:hover, &:active {
                color: var(--primary-font-color);
            }
        }

        &__icon {
            width: 2.5rem;
            height: 2.5rem;
            fill: currentColor;
            justify-self: center;
        }

        &__link:link,
        &__link:visited {
            color: currentColor;
            text-decoration: none;
            text-transform: uppercase;
            padding: 1.5rem 0;
            display: grid;
            grid-template-columns: 6rem 1fr;            
            column-gap: 3rem;
            justify-items: start;
        }
    }
}