.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 60%;

    &__input {
        padding: 1rem 1.5rem;
        font-size: 1.7rem;
        border-radius: 100px;
        border: none;
        display: block;
        width: 90%;
        transition: width .2s;
        margin-right: -3rem;

        &:focus {
            width: 100%;
        }
    }

    &__icon {
        background-color: white;
        border: none;

        &:focus {
            outline: none;
            transform: translateY(.2rem);
        }

        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}