.collapse-stick {
    display: block;
    width: 3rem;
    height: .2rem;
    background-color: var(--primary-font-color);
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        
    }
}